<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>registerServlet</servlet-name>
        <servlet-class>servlet.registerServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlet.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>success</servlet-name>
        <servlet-class>servlet.success</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setPreference</servlet-name>
        <servlet-class>servlet.setPreference</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet2</servlet-name>
        <servlet-class>servlet.LoginServlet2</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setPref</servlet-name>
        <servlet-class>servlet.setPref</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>setAdditional</servlet-name>
        <servlet-class>servlet.setAdditional</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginSuccess</servlet-name>
        <servlet-class>servlet.LoginSuccess</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>viewProfile</servlet-name>
        <servlet-class>servlet.viewProfile</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sendRequest</servlet-name>
        <servlet-class>servlet.sendRequest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>registerServlet</servlet-name>
        <url-pattern>/registerServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>success</servlet-name>
        <url-pattern>/success</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setPreference</servlet-name>
        <url-pattern>/setPreference</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet2</servlet-name>
        <url-pattern>/LoginServlet2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setPref</servlet-name>
        <url-pattern>/setPref</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>setAdditional</servlet-name>
        <url-pattern>/setAdditional</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginSuccess</servlet-name>
        <url-pattern>/LoginSuccess</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>viewProfile</servlet-name>
        <url-pattern>/viewProfile</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sendRequest</servlet-name>
        <url-pattern>/sendRequest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
